.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.DS_Store
.idea/
.vscode/
.python-version
conversation.txt
AI Owners Manual Chatbot/code.html
.gitignore
AI Owners Manual Chatbot/honda_civic_sample_manual.pdf
AI Owners Manual Chatbot/samsung_washerdryer_sample_manual.pdf
AI Owners Manual Chatbot/screen.png
AI Owners Manual Chatbot/tplink_router_sample_manual.pdf
Recruitment Screener/node_modules/
Recruitment Screener/.next/cache/
Recruitment Screener/.next/static/media
async.py
tools.py
Gemma/svasthya-sathi
Gemma/svasthya-sathi
